.pokemons {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
}
.titulo3 {
    font-size: 3rem;
    color: lawngreen;
}
.titulo4 {
    font-size: 3rem;
    color: lawngreen;
}
.tarjetas {
    padding: 1rem 1rem;
    display: flex;
    flex-wrap:wrap;
    place-content: center;
    gap: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100%;
}