.pokemon-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 800px;
    height: 85vh;
}
.nombre {
    font-size: 5rem;
    color: lawngreen;
    text-align: center;
}
.foto {
    text-align: center;
    height: 60vh;
    margin: auto;
}
.regresar1 {
    position: absolute;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    margin-top: 450px;
    margin-left: 750px;
    font-size: 20px;
    border: 2px solid #8292b6; 
    background-color:lawngreen;
}
.regresar1:hover {
    background-color: lime;
    color: red;
}
@media screen and (max-width: 1024px) {
    .pokemon-card {
        width: 500px;
        height: 80vh;
    }
    .nombre {
        font-size: 3rem;
    } .foto {
        width: 500px;
        height: 70vh;
    }
    .regresar1 {
        width: 100px;
        height: 40px;
        margin-top: 400px;
        margin-left: 520px;
        font-size: 20px;
        border: 2px solid #8292b6; 
    }
}
@media screen and (max-width: 425px) {
    .pokemon-card {
        width: 300px;
        height: 75vh;
    }
    .nombre {
        font-size: 2rem;
    }
    .foto {
        width: 300px;
        height: 70vh;
    }
    .regresar1 {
        width: 80px;
        height: 30px;
        margin-top: 400px;
        margin-left: 220px;
        font-size: 15px;
        border: 2px solid #8292b6; 
    }
}
