

#App{
    padding: 1rem;
    background-color: black;
    display:grid;
    place-items: center;
}

.view {
    padding: 1.5rem 1rem;
  }
  
  h1 {
    text-align: center;
    color:grey;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }

  .pokemon-card {
    border: 5px solid var(--dark);
    text-align: center;
    background-color: var(--light);
    width: 100%;
    max-width: 400px;
    height: 100%;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
    color: var(--dark);
    transition: all linear 0.1s;
    background-color:darkcyan;
  }

  button {
    font-size: 15px;
    color:rgb(4, 7, 0);
    border: 3px solid #8ba6ffbe;
    border-radius: 10px;
    background-color:lightblue;
    gap: 1rem;
  }

  input {
    width: 1fr;
    height: 50%;
    font-size: 15px;
    text-align: center;
    color: rgb(4, 7, 0);;
    background-color:lightblue;
    border: 3px solid #8ba6ffbe;
    border-radius: 15px;
  }

  .input-wrapper{
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid #8292b6; 
  }

  .PokemonList{
    padding: 1rem 1rem;
    display: flex;
    flex-wrap:wrap;
    place-content: center;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100%;
    
  }

  .Pokemons{
    border: 3px solid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }

